<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankApplication</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>AdminDashboard.jsp</welcome-file>
    <welcome-file>Dashboard.jsp</welcome-file>
    <welcome-file>checkbalance.jsp</welcome-file>
    <welcome-file>Resetpin.jsp</welcome-file>
    <welcome-file>alltransactions.jsp</welcome-file>
    <welcome-file>transaction.jsp</welcome-file>
    <welcome-file>update.jsp</welcome-file>
    <welcome-file>deposit.jsp</welcome-file>
    <welcome-file>transfer.jsp</welcome-file>
    <welcome-file>users.jsp</welcome-file>
    <welcome-file>viewUser.jsp</welcome-file>
    <welcome-file>deleteAccount.jsp</welcome-file>
  </welcome-file-list>
</web-app>